[submodule "packages/whisppy/extern/whisper.cpp"]
	path = packages/whisppy/extern/whisper.cpp
	url = git@github.com:ggerganov/whisper.cpp.git
[submodule "packages/whisppy/extern/pybind11"]
	path = packages/whisppy/extern/pybind11
	url = git@github.com:pybind/pybind11.git
